.working{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}
.working>h1{
    text-align: center;
    font-weight: 700;
   font-size: 2rem;
   margin-top: 5vh;
   margin-bottom: 5vh;
}
.zote{
    display: flex;
    width: 85%;
    margin-left: 7.5%;
    justify-content: space-between;
    
}
.zote>div{
    height: 80%;
    width: 30%;
  
}


.zote>div>h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #0a265c;
    border-bottom: 3px solid black;
}
.zote>div>p{
    text-align: center;
    
}
.imgtxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
}
.imgtxt>img{
    height: 40vh;
    width: 100%;  
}
.imgtxt>h1{
   position: absolute;
   color: rgb(130, 202, 250); 
   font-weight: 700;
   font-size: calc(1rem + 1vw);
}

@media (max-width: 576px) {

    .working{
        
        height: max-content;
    }
    .zote{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        align-items: center;
        margin-left: 0px;
    }
    .imgtxt>img{
        height: 35vh;
         
    }
    .zote>div{
        height: 80%;
        width: 80%;
        border: 1px solid gray;
        box-shadow:rgba(50, 50, 93, 0.25) 0px 2px
   5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 5px;
        margin-bottom:5vh;
    }
    
.zote>div>h1{
    border: none;
}
    .zote>div>p{
        font-size: calc(0.75rem + 1vw);
    }

}

