.dropdown-menu {
    
    width: 200px;
    position: absolute;
    top: 10vh;
    margin-left: -15px;
 
    list-style: none;
    text-align: start;
    
  }
  
  .dropdown-menu li {
    background: #5cabff;
    cursor: pointer;
   
  }
  
  .dropdown-menu li:hover {
    background: #0a265c;
  
    color: #fff;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  
