
.order{
   
    width: 100%;
   
}
.order .hol h1{
    margin-left: 5vh;
}
.order .hol .ord li{
   min-width: max-content;
   
   padding: 5px 2vh;
   margin: 0 1vh;
   border-radius: 3px;
}
.order .hol .ord{
    
    overflow-x: auto;
}
