.chip {
    font-size: 0.7rem;
    background:  2022(45deg, red, #5cabff);
    color: #fff;
    padding: 0.4rem 0.5rem;
    margin-left: 5px;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
  }
  