  .servicebox .box {
    
    border-radius: 2vh;
    margin: 2vh 1vh;
    background-color: white;
    text-align: center;
    height: 45vh;
    min-height: max-content;
    flex: 1;
    
    cursor: pointer;
    min-width: 15vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  .servicebox img {
    width: 65px;
    height: 65px;

   
   
  
    
  }
  .servicebox label {
    color: black;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(48, 179, 48),#5cabff);
    padding: 7px 15px;
  }

  .servicebox h4 {
    color: black;
   }
  .servicebox button {
    color: wheat;
    background-color: #0a265c; 
  padding: 8px 15px;
    border-radius: 1vh;
 margin: 0px;
 margin-top: 5px;
    border: none;
    
  
   
   
  }


  @media screen and (max-width: 768px) {
    .servicebox .box {
      min-width: 20vw;
      height: 50vh;
    }
  }
  @media screen and (max-width: 576px) {
    .servicebox .box {
      min-width: 25vw;
    }
  }
  @media screen and (max-width: 480px) {
    .servicebox .box {
      min-width: 60vw;
    }
  }