  .servicebox .box {
    box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.39);
    border-radius: 2vh;
  
   margin-left: 1vh;
   margin-right: 1vh;
   margin-top: 2vh;
   margin-bottom: 2vh;

    background-color: white;
    text-align: center;
    height: 45vh;
    min-height: max-content;
    flex: 1;
    padding: 30px;
    cursor: pointer;
    min-width: 15vw;
    flex-grow: 1;
  }
 
  .servicebox img {
    width: 65px;
    height: 65px;
    margin: auto;
  }
  .servicebox label {
    color: #0a265c;
  }

  


  @media screen and (max-width: 768px) {
    .servicebox .box {
      min-width: 20vw;
      height: 50vh;
    }
  }
  @media screen and (max-width: 576px) {
    .servicebox .box {
      min-width: 25vw;
    }
  }
  @media screen and (max-width: 480px) {
    .servicebox .box {
      min-width: 40vw;
    }
  }