
.nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
.topbar{
    
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: sticky !important;
    top: 0px;
    
}

.topbar>.upss{
    z-index: 99;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #0a265c;
    
}
.upss>.imgname{
    width:25%;
    display: flex;
    height: 100%;
    align-items: center;
}
.imgname>img{
    height: 10vh !important;
    width: 12vh !important;
    align-self: center;
    margin-left: 2vw;
}
.imgname>.name{
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: center; 
   
}
.name>h2{
    font-size: calc(0.5rem + 1vw);
    color: white;
   cursor: pointer;
    margin-bottom: 0px;
    text-align: center;
}
.name>h3{
    font-size: calc(0.3rem + 1vw);
    margin-top: 0px;
    cursor: pointer;
    text-align: center;
    color: rgb(130, 202, 250);
}

.upss>.largescreen{
    width:50%;
    padding: 0;
    display: flex;
    justify-content: space-around;
   height: 100% !important;
    
    
}
.largescreen>li{
    list-style: none;
    align-self: center;
    padding: 9px 15px;
    font-size: calc(0.2rem + 1vw);
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-variant: tabular-nums;
   
}

.largescreen>li:hover {
    background-color:  rgb(130, 202, 250);;
    color: black;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
.topbar a{
    color: inherit;
    display: flex;
    flex-direction: row;
}
.upss>.search{
    width:25%;
    display: flex;
    justify-content: right;
    
  
}

.upss>.search>input{
    align-self: center;
    height: 5vh;
    background-color: rgb(130, 202, 250);
    width: 12vw;
    border: none;
    border-radius: 3px;  
}
.topbar .topicon{
    margin-top: 10px;
    width: 2.5vh;
    height: 2.5vh;
    color: #5cabff;
    
  
    
}

.upss>.search>.searchicon{
    margin-left: 2vh;
    margin-right: 2vw;
    padding: 5px 5px;
    cursor: pointer;
    height: 5vh !important ;
    width:5vh!important;
    border-radius: 3px;
    background-color: rgb(130, 202, 250);
}

.upss>.togle{
display: none;


}
.togle>.icon{
    cursor: pointer;
    margin-right: 3vw; 
    height: 6vh !important ;
    width:7vh!important;
    border-radius: 3px;
    color: white;
    border: 2px solid rgb(130, 202, 250);
}

.topbar>.downs{
    display: none;
    margin-top: 0px;
}
.nodowns{
    display: none;
}

@media (max-width: 768px) {
    .upss>.imgname{
        width:29%;
    }

    .upss>.search{
       
        display: none;
    
    }
    .upss>.largescreen{
        margin-right: 1vw;
        width: 67%;
    
    }

    .largescreen>li{
        font-size: calc(0.4rem + 1vw);
        margin-left: 0px;
        padding: 9px 5px;
       
    }
   
}
@media (max-width: 576px) {
    .upss>.imgname{
        width:55%;
    }
    .topbar a{
        color: black;
    }
    .upss>.largescreen{
        display: none;
    }
    .upss>.togle{
        display: unset;
        width:25%;
        display: flex;
        justify-content: right ; 
    }
    .topbar>.downs{
        z-index: 50;
        
        display: unset;
        text-align: center;
        background-color: white;
        border-bottom: 4px solid #0a265c;
        border-left: 3px solid #0a265c;
        border-right: 3px solid #0a265c;
        animation: shows 0.4s ease-in-out ; 
    }

    @keyframes shows {
        0% {
          transform: translateY(-100%);
        }
       
        100% {
          transform: translateY(0%);  
        }
    }
      
    .topbar>.downs>li{
       font-weight: 500;
        padding: 9px 15vw;
        width: max-content;
        margin: auto;
        
    }
    .topbar>.downs>li:hover{
        background-color: #5cabff;
        border-radius: 1vh;
     }

   
    .name>h2{
        font-size: calc(0.6rem + 1vw);
        
    }
    .name>h3{
        font-size: calc(0.5rem + 1vw);
        
    }


}
@media (max-width: 480px) {

    .upss>.imgname{
        width:70%;
       
    }
    .topbar{
        height: 11vh;
       
    }
    .togle>.icon{
       
        cursor: pointer;
        height: 6vh !important ;
        width:6.5vh!important;
        
    }
    .imgname>img{
        height: 6.5vh;
        width: 8vh;
        margin-left: 1vw;
       
    }
    .name>h2{
        font-size: calc(0.7rem + 1vw);
        
    }
    .name>h3{
        font-size: calc(0.6rem + 1vw);
        
    }
}
