.blogs{
    width: 100%;
    
}
.blogs .down{
    display: flex;
    justify-content: space-between;
  
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.blogs .content{
    width: 73%;  
}
.blogs .sidebarr{
    width: 25%;
    display: flex;
    flex-direction: column;
}


.blogs .sidebarr .links{
    padding: 5px 10px;
    
    border: 3px solid #5cabff;
}

@media (max-width: 768px) {
    .blogs .down{
        width: 95%;
    } 
    .blogs .content{
        width: 67%;  
    }
    .blogs .sidebarr{
        width: 31%;
        display: flex;
        flex-direction: column;
    }
 }
 @media (max-width: 480px) {
    .blogs .content{
        width: 90%; 
        margin: auto; 
    }
    .blogs .sidebarr{
        width: 90%;
        margin: auto;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
    }
 }

 