.ordernow{
    width: 100%;
    height: max-content;
    background-color: transparent;
    overflow: hidden;
}

.order>fieldset{
display: flex;
flex-direction: column;
border: none;
}
.order>fieldset>label{
    
   font-size: 1rem;
   font-weight: 500;
}
.order>fieldset>select{
   background-color:  #0a265c;
   color: white;
   height: 5vh;
   border: none;
   border-radius: 4px;
  
    
}
.order>span{
    width: 65%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
}
.order>span>h2{
    text-decoration: line-through;
    width: max-content !important;
}
.order>span>div>h2{
    background-color: white;
    text-align: center;
    width: max-content;
    border-radius: 3px;
}
.order{
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .order>span{
        width: 67%;
       margin-left: 5vw ;
        
    }
}
@media (max-width: 480px) {
    .order>fieldset>select{
        width: 95%;

    }
}