.sidebar{
    background-color: #0a265c;
    width: 100%;
    position: sticky !important;
    z-index: 80;
    top: 14vh;
    min-height: 85vh;
    border-top: 1vh solid rgb(130, 202, 250) ;
    padding: 5vh 5vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
}
.sidebar .toggle{
    display: none;
    
}
.sidebar ul{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
   
 
}

.sidebar button{
    color:white;
    background-color: transparent;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 15px;
    width: 80%;
    margin: 1vh 0px;
    text-align: left;
   

}
.sidebar .dropdown-link2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;

}
.sidebar .dropdown-link2 span{
 
    font-size: calc(0.4rem + 1vw) !important;

}

.sidebar button:hover{
    background-color: #5cabff;
   border-radius: 5px;
    color:black
    
}

.sidebar .importedicon{
    color: rgb(130, 202, 250);
    margin-right: 1vw;
  color: wheat;


}
.sidebar .importedicon:hover{
   
  color: #0a265c;


}
.sidebar .noside{
    display: none;
}
.sidebar .notogle{

    display: unset;
}
.sidebar .icon{
    color: white;
    width: 6vh;
    height: 6vh;
}

@media (max-width: 576px) {
  
    .sidebar{ 
        min-height: max-content;
        padding: 1vh 5vh;
        border: 1px solid white;
        border-bottom: 1vh solid rgb(130, 202, 250);;
    }
    
    .sidebar .toggle{
        display: unset;
        margin: 0;
        padding: 0;
    }
    .sidebar ul{
        width: 80%;
    }
    .sidebar .dropdown-link2 span{
 
        font-size: calc(0.7rem + 1vw) !important;
    
    }

}