.footer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 31, 31);
}

.footer h1{
    margin-top: 4vh;
    color: rgb(130, 202, 250);
    font-weight: 400;
    font-size: calc(0.5rem + 1vw);
}
.footer h2{
    margin-top: 4vh;
    color: rgb(130, 202, 250);
    font-weight: 300;
    text-align: center;
    font-size: calc(0.5rem + 1vw);
}
.footer h3{
    font-weight: 300;
    color:white;
    list-style: none;
    margin-left: 0px;
    font-size: calc(0.2rem + 1vw);
}
.footer p{
    color: white;
    font-size: calc(0.2rem + 1vw);
    font-weight: 300;
}

.spacer{
    height: 3vh;
}
.icons{
    margin-top: -25px;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-self: center; 
}

.icons> .socialicon{
    width: 7vh;
    height: 7vh;
    z-index: 100;
}
.icons> .fb{
    color: blue;
    background-color: white;
    border-radius: 5px;
}
.icons> .tw{
    color: rgb(25, 164, 206);
    background-color: white;
    border-radius: 5px;
}
.icons> .in{
    color: rgb(202, 8, 105);
    background-color: white;
    border-radius: 5px;
}
.icons> .li{
    color: rgb(21, 21, 186);
    background-color: white;
    border-radius: 5px;
}
.malo{
    margin-top: 4vh;
    display: flex;
    width: 86%;
    margin-left: 7%;
    justify-content: space-between;
    border-bottom: 2px solid rgb(130, 202, 250);
}

.diere{
    width: 86%;
    margin-left: 7%;
}

.hhh{
    display: flex;
    justify-content: space-between;
    color: white;  
}

.piny{
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 7%;
    margin-top: 4vh;
}


@media (max-width: 768px) {
    .icons{  
        width: 70%;
    }
}

@media (max-width: 576px) {
.malo, .hhh, .piny{
    display: flex;
    flex-direction: column;
    width:85%;
    border: none;
   
}
.footer h1{
    font-size: calc(0.8rem + 1vw); 
}
.footer h3{
    font-size: calc(0.5rem + 1vw); 
}
.footer p{
    font-size: calc(0.5rem + 1vw);
}
.icons>img{
    width: 5vh;
    height: 5vh;
}
.icons{  
margin-top: -19px;
}

}
